/* Root with colors */
:root {
    --skyblue: rgb(142, 226, 199);
    --darkgreen: rgb(39, 48, 48);
}
/* Universal element */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body element */
body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkgreen);
}

/* Header's main name on the left side */
header h1 {
    background-color: var(--skyblue);
    text-align: right;
    min-width: 10%;
    color: var(--darkgreen);
    font-size: 250%;
    padding: 5px;
    
}

/* Header's box with anchors items inside */
header li {
    position: relative;
    top: 10px;
    display: inline;
}

/* Header's anchors */
header li a {
    display: inline-block;
    color: var(--skyblue);
    font-size: 130%;
    padding: 10px 15px 10px 15px;
    text-underline-offset: 4px;
}

/* Hover effect for header's anchors */
header li a:hover{
    transform: scale(1.15);
    text-shadow: 1px 1px 7px var(--skyblue);
}

/* Backround image ubder header  */
.hero-image{
    width: 100%;
    height: 200px;
    z-index: 0;
    background-image: url("../images/woodbackground.jpg");
    background-size: cover;
}

/* My image inside the background image */
.portrait {
    position: relative;
    left: 80px;
    top: 40px;
    height: 100px;
    filter: grayscale(40%);
    border: 4px solid darkslategrey;
}

/* Subtitle on the right  corner */
section h2 {
    position: relative;
    padding: 4px 4px 4px 4px;
    top: 25%;
    left: 83%;
    width: 16%;
    color: var(--darkgreen);
    background-color: var(--skyblue);
    font-size: 20px;
}

/* Main class for all sections */
.section-alligment {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 1%;
    height: 100%;
    width: 100%;
}

/* Aside paragraphs */
aside {
    padding: 8px 20px 10px 10px;
    text-align: right;
    min-width: 20%;
    color: var(--darkgreen);
    font-size: 35px;
    border-right: 3px solid var(--darkgreen);
}

/* Class for text in About me article */
.text-article {
    line-height: 20px;
    margin-left:  4%;
    padding-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

/* Main class for Work article */
.job-section {
    display: block;
    justify-content: start;
    margin-left: 4%;
    width: 100%;
}


/* class for Main Job's Box   */
.horison-job {
    border: 3px solid var(--skyblue);
    height: 360px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin: 0px 15px 15px 15px;
    
}

/* Main job box's name */
.horison-job::after {
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 60px;
    font-size: 20px;
    padding: 1px 5px 5px 0px;
    margin-top: 10px;
    content: "Your-Nutrition-Radar \A             html-css-js    ";
    white-space: pre;
}

/* class for Small Job's Boxes */
.small-job {
    flex-wrap: wrap;
    float: left;
    border: 3px solid var(--skyblue);
    height: 230px;
    width: 47.6%;
    margin-left: 15px;
    margin-bottom: 15px;

}

/* Name box for first small job */
#job-2::after {
    content: "Prework-Study";
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 50px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

/* Name box for second small job */
#job-3::after {
    content: "Portfolio-Assigment";
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 50px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

/* images inside job's boxes */
article section p a img{
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: grayscale(80%);
    object-fit: cover;
}

/* hover efect for images inside job's boxes */
article section p a img:hover {
    filter: grayscale(0%);
}

/* Main class for Contact Me section */
.contact-me {
    margin-left: 4%;
}

/* class for Anchor elements inside Contact Me section */
.contact-links {
    display: inline-block;
    position: relative;
    color: var(--darkgreen);
    text-underline-offset: 4px;
    color: #13293d;
    text-align: center;
    padding: 29px 32px 32px 32px;
}

/* Hover effect for Anchor elements inside Contact Me section */
.contact-links:hover {
    transform: scale(1.2);
    text-shadow: -3px 2px 5px rgb(173, 176, 180);
}

/* Responsive layout setings before 959px sreen size */
@media screen and (max-width: 959px) {

    /* Subtitle */
    section h2 {
        top: 14%;
    }

    /* Aside paragraphs */
    aside {
        min-width: 150px;
        font-size: 30px;
    }

    /* Header's Anchors */
    header nav ul li a {
        font-size: 18px;
    }

    /* Small Job Boxes */
    .small-job {
        width: 95%;
    }

    /* Contact Me Anchors */
    .contact-links {
        padding: 15px;
        font-size: 16px;
    }
    
}

/* Responsive layout setings before 768px sreen size */
@media screen and (max-width: 768px) {
    /* Subtitle */
    section h2 {
        top: 15%;
        font-size: 11px;
    }

    /* Aside paragraphs */
    aside {
        min-width: 80px;
        font-size: 16px;
        
    }

    /* Main Header Text */
    header h1 {
        font-size: 24px;
    }

    /* Header's Anchors */
    header nav ul li a {
        padding: 0px 6px 9px 6px;
    }

    /* Small Job Boxes */
    .small-job {
        height: 100px;
        width: 89%;
    }
    
    /* Contact Me Anchors */
    .contact-links {
        font-size: 10px;
        padding: 6px;
    }

    /* Main job box */
    .horison-job {
        height: 220px;
    }

    /* Main articles */
    .text-article, .job-section, .contact-me {
        margin-left: 2%;
        font-size: 14px;
    }

    /* Name box for main big job */
    .horison-job::after{
        font-size: 14px;
    }

    /* first job's name box */
    #job-2::after{
        font-size: 14px;
    }

    /* name box for second job */
    #job-3::after{
        font-size: 14px;
    }
}