:root {
    --skyblue: rgb(142, 226, 199);
    --darkgreen: rgb(39, 48, 48);
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkgreen);
}

header h1 {
    background-color: var(--skyblue);
    text-align: right;
    min-width: 10%;
    color: var(--darkgreen);
    font-size: 250%;
    padding: 5px;
    
}

header li {
    position: relative;
    top: 10px;
    display: inline;
}

header li a {
    display: inline-block;
    color: var(--skyblue);
    font-size: 130%;
    padding: 10px 15px 10px 15px;
    text-underline-offset: 4px;
}

header li a:hover{
    transform: scale(1.15);
    text-shadow: 1px 1px 7px var(--skyblue);
}

.hero-image{
    width: 100%;
    height: 200px;
    z-index: 0;
    background-image: url("../images/woodbackground.jpg");
    background-size: cover;
}
.portrait {
    position: relative;
    left: 80px;
    top: 40px;
    height: 100px;
    filter: grayscale(40%);
    border: 4px solid darkslategrey;
}

section h2 {
    position: relative;
    padding: 4px 4px 4px 4px;
    top: 25%;
    left: 83%;
    width: 16%;
    color: var(--darkgreen);
    background-color: var(--skyblue);
    font-size: 20px;
}

.section-alligment {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 1%;
    height: 100%;
    width: 100%;
}

aside {
    padding: 8px 20px 10px 10px;
    text-align: right;
    min-width: 20%;
    color: var(--darkgreen);
    font-size: 35px;
    border-right: 3px solid var(--darkgreen);
}

.text-article{
    margin-left:  4%;
    padding-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.job-section {
    display: block;
    justify-content: start;
    margin-left: 4%;
    width: 100%;
}

.horison-job {
    border: 3px solid var(--skyblue);
    height: 360px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin: 0px 15px 15px 15px;
    
}

.horison-job::after {
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 60px;
    font-size: 20px;
    padding: 1px 5px 5px 0px;
    margin-top: 10px;
    content: "Horiseon-Upgradation \A             html-css          ";
    white-space: pre;
}

.small-job {
    flex-wrap: wrap;
    float: left;
    border: 3px solid var(--skyblue);
    height: 230px;
    width: 47.6%;
    margin-left: 15px;
    margin-bottom: 15px;

}

#job-2::after {
    content: "Prework-Study";
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 50px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

#job-3::after {
    content: "Portfolio-Assigment";
    background-color: var(--skyblue);
    color: var(--darkgreen);
    position: relative;
    bottom: 50px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}

article section p a img{
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: grayscale(80%);
    object-fit: cover;
}

article section p a img:hover {
    filter: grayscale(0%);
}

.contact-me {
    margin-left: 4%;
}

.contact-links {
    display: inline-block;
    position: relative;
    color: var(--darkgreen);
    text-underline-offset: 4px;
    color: #13293d;
    text-align: center;
    padding: 29px 32px 32px 32px;
}


.contact-links:hover {
    transform: scale(1.2);
    text-shadow: -3px 2px 5px rgb(173, 176, 180);
}

@media screen and (max-width: 959px) {
    section h2 {
        top: 14%;
    }

    aside {
        min-width: 150px;
        font-size: 30px;
    }

    header nav ul li a {
        font-size: 18px;
    }

    .small-job {
        width: 95%;
    }

    .contact-links {
        padding: 15px 15px 15px 15px;
        font-size: 16px;
    }
    
}
@media screen and (max-width: 768px) {
    section h2 {
        top: 15%;
        font-size: 12px;
    }

    aside {
        min-width: 80px;
        font-size: 16px;
        
    }
    header h1 {
        font-size: 24px;
    }

    header nav ul li a {
        padding: 0px 6px 9px 6px;
    }

    .small-job {
        height: 150px;
        width: 91%;
    }
    
    .contact-links {
        font-size: 10px;
        padding: 6px 6px 6px 6px;
    }

    .horison-job {
        height: 250px;
    }

    .text-article, .job-section, .contact-me {
        margin-left: 2%;
    }
    
}